*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

body{
  background-color: #25291C;
  display: flex;
  height: auto;
  flex: 1 1 auto;
  align-items: stretch;
  padding: 15px;
}

#menu, #grid{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#menu{
  flex: 0.3 2 auto;
  width: 200px;
}

.frame-button, #outer-frame-grid, .inner-frame-button{
  flex: 1;
  margin: 20px;
}

.frame-button{
  margin: 10px;
  display: flex; 
  flex: 0.225;
}

.frame-button button{
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #e6e49f;
  color: #584c54;
  font-size: 140%;
  border-radius: 12px;
  border: 2px solid #22422f;
  box-shadow: 0.5px 0.5px 3px #b2c2bf;
}

h1{
  font-size: 200%;
  color: #e6e49f;
  text-align: center;
}

.inner-frame-button{
  width: 258px;
  height: 50px;
  flex: 0 1 auto;
  margin: auto;
  border: 0;
}

#colorpicker .inner-frame-button{
  margin: auto;
  width: 20%;
  height: 58px;
  flex: 0 1 auto;
}

#inner-frame-div, #outer-frame-grid, #draw-grid, #draw-grid>div{
  display: flex;
}

#draw-grid{
  flex-direction: column;
  flex: 1;
  margin: auto;
  width: 100%;
  height: 100%;
}

#draw-grid>div{
  flex: 1;
}

#inner-frame-div{
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  margin: auto;
}

#outer-frame-grid{
  display: flex;
}

.grid-el{
  flex: 1;
  background-color: white;
}

#color-picker{
  width: 100%;
  height: 100%;
  border: 0px;
}

.initial, .initial#inner-frame-div, #colorpicker > .initial{
  width: 1%;
  max-width: 1%;
  height: 1%;
  opacity: 0;
}

.final{
  transition: 1s;
}
