*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

body{
  background-color: #25291C;
  display: flex;
  height: auto;
  flex: 1 1 auto;
  align-items: stretch;
  padding: 15px;
}

#menu, #grid{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#menu{
  flex: 0.3 2 auto;
}

.frame-button, #outer-frame-grid, .inner-frame-button{
  border: 2px solid #b2c2bf;
  flex: 1;
  margin: 20px;
}

.frame-button{
  margin: 10px;
  display: flex; 
  flex: 0.225;
}

.frame-button button{
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #e6e49f;
  color: #584c54;
  font-size: 140%;
}

.inner-frame-button{
  width: 258px;
  height: 50px;
  flex: 0 1 auto;
  margin: auto;
  border: 2px solid #22422f;
  box-shadow: 0.5px 0.5px 3px #b2c2bf;
}

#colorpicker .inner-frame-button{
  margin: auto;
  width: 20%;
  height: 58px;
  flex: 0 1 auto;
}
