*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

body{
  background-color: #25291C;
  display: flex;
  height: auto;
  flex: 1 1 auto;
  align-items: stretch;
  padding: 15px;
}

#menu, #grid{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#menu{
  flex: 0.4 2 auto;
}

.frame-button, #outer-frame-grid, .inner-frame-button{
  border: 2px solid #b2c2bf;
  flex: 1;
  margin: 20px;
}

.frame-button{
  margin: 10px;
  display: flex;
}

.frame-button button{
  margin: auto;
}

#colorpicker .inner-frame-button{
  margin: auto;
  width: 20%;
  height: 58px;
  flex: 0 1 auto;
}
